{% extends 'public/base.html' %}
{% load static %}


<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="index.html" class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.webp" alt=""> -->
        <h1 class="sitename">Mateclic</h1>
      </a>

      {{navmenu} }

      

      <a class="btn-getstarted d-none d-sm-block" href="quote.html">Request Quote</a>

    </div>
  </header>

  <main class="main">

   {% block content %}
    <section id="service-details" class="service-details section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row">
          <div class="col-lg-7">

            <div class="service-overview" data-aos="fade-up" data-aos-delay="200">
              <img src="/media/{{ equipment.image }}" dfrc="{% static 'public/assets/img/construction/project-5.webp' %}" alt="Commercial Construction Project" class="service-image img-fluid">

              
            </div>

            

          </div>

          <div class="col-lg-5">
            <div class="service-sidebar" data-aos="fade-left" data-aos-delay="200">

              <h2>Votre paiement a été effectué avec succès</h2>
              <p>Le fournisseur vous contactera pour la mise en oeuvre du service</p>
              <div class="quick-info-card">
                <div class="info-header">
                  <h3>{{ equipment.name}}</h3>
                  <span class="info-badge">{{ equipment.price}} {{ equipment.currency}}</span>
                </div>
                <div class="info-content">
                  <div class="info-row">
                    <span class="label">Tarif</span>
                    <span class="value">{{equipment.price}} {{equipment.currency}}/ {{equipment.pricingFrequency}}</span>
                  </div>
                   <div class="info-row">
                    <span class="label">Nombre d'unités</span>
                    <span class="value">1</span>
                  </div>
                  <div class="info-row">
                    <span class="label">Durée en unité de temps</span>
                    <span class="value">{{ rent.duration}}</span>
                  </div>

                  <div class="info-row">
                    <span class="label">Montant total payé</span>
                    <span class="value">{{ orderAmount }}</span>
                  </div>
                 
                </div>
              </div>
           
              

            </div>
          </div>
        </div>

      </div>
    </section><!-- /About Section -->

    <!-- Services Section -->
    
   

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  {% endblock %}
</main>