{% extends 'public/base.html' %}
{% load static %}


<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="index.html" class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.webp" alt=""> -->
        <h1 class="sitename">Mateclic</h1>
      </a>

      {{navmenu} }

      

      <a class="btn-getstarted d-none d-sm-block" href="quote.html">Request Quote</a>

    </div>
  </header>

  <main class="main">

   {% block content %}
    <section id="service-details" class="service-details section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row">
          <div class="col-lg-7">

            <div class="service-overview" data-aos="fade-up" data-aos-delay="200">
              <img src="/media/{{ equipment.image }}" dfrc="{% static 'public/assets/img/construction/project-5.webp' %}" alt="Commercial Construction Project" class="service-image img-fluid">

              
            </div>

            

          </div>

          <div class="col-lg-5">
            <div class="service-sidebar" data-aos="fade-left" data-aos-delay="200">

              <div class="quick-info-card">
                <div class="info-header">
                  <h3>{{ equipment.name}}</h3>
                  <span class="info-badge">{{ equipment.price}} {{ equipment.currency}}</span>
                </div>
                <div class="info-content">
                  <div class="info-row">
                    <span class="label">Tarif</span>
                    <span class="value">{{equipment.price}} {{equipment.currency}}/ {{equipment.pricingFrequency}}</span>
                  </div>
                   <div class="info-row">
                    <span class="label">Nombre d'unités</span>
                    <span class="value">1</span>
                  </div>
                  <div class="info-row">
                    <span class="label">Durée en unité de temps</span>
                    <span class="value">{{ rent.duration}}</span>
                  </div>

                  <div class="info-row">
                    <span class="label">Montant total à payer</span>
                    <span class="value">{{ orderAmount }}</span>
                  </div>
                 
                </div>
              </div>
            <form method="post">
               {% csrf_token %}
                <div class="form-control">
                        <label>Numéro mobileMoney</label>
                    <input name="mobileMoneyPhone" style="margin-bottom: 25px;" id="mobileMoneyPhone" placeholder="Numéro mobileMoney" value="{{rent.numberPhone}}" required>

                </div>
                <br>
                 {% if mode == "getNumber"  %}
                <div class="hero-actions aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
                    <input type="submit" class="btn btn-getstarted" style="background: #e96308;color: #ffffff;" value="Payer">
                </div>              
                  {% endif   %}
            </form>

              

            </div>
          </div>
        </div>

      </div>
    </section><!-- /About Section -->

    <!-- Services Section -->
     
   

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  {% endblock %}
</main>
{% block otherelements %}
{% if mode == "processing"  %}

     <script>
      urlCheck = "{% url 'rent-mobilemoney-payment-check' rent.paymentId %}"
      urlConfirm = "{% url 'rent-mobilemoney-payment-confirmed' rent.id %}?token={{ rent.paymentToken }}"
      urlCancel = "{% url 'rent-mobilemoney-payment-canceled' rent.id %}"

      var paymentCheck = setInterval(function(){

        checkPayment(urlCheck,urlConfirm,urlCancel)
          
      },2500)
     </script>

     {% endif  %}

{% endblock %}